.container-detail {
    display:flex;
}
.card-detail {
    width: 40rem;
}

.card-title-dt{
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
}

.card-p-dt{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card-descript{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}

.card-stock{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}

.counter {
    margin-left: 5rem;
    margin-top: 10rem;
}

.counter-btn {
    width: 2.5rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: #C86304;
}

.counter-add {
    width: 100%;
    height: 2rem;
    border:0.2rem black solid;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: #C86304;
}

.count {
    font-size: 1.5rem;
}

.card-buy {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0.2rem black solid;
    background-color:#C86304;
    width: 10rem;
    height: 1rem;
    padding: 3rem;
    border-radius: 2rem;
    margin: 10rem 0 0 10rem;
    transition: all 1s;
}

.card-buy:hover {
    background-color: #ac430a;
}